/socialsrv/target
/socialsrv/lib
/socialsrv/classes
/socialsrv/checkouts
/socialsrv/pom.xml
*.jar
*.class
/socialsrv/.lein-*
/socialsrv/profiles.clj
/socialsrv/.env
/socialsrv/.nrepl-port
/socialsrv/log



/socialweb/target
/socialweb/lib
/socialweb/classes
/socialweb/checkouts
/socialweb/pom.xml
*.jar
*.class
/.lein-*
/socialweb/profiles.clj
/socialweb/.env
/socialweb/.nrepl-port
/socialweb/log
